#topPic{
  opacity: .7;
  z-index:-1;
  position: absolute;
  width: 100%;
}

.topnav{
  padding: 29px;
  background-color: #dddddd;
  overflow: hidden;
}

body{
background-image: radial-gradient(#66d9ff, #ebfafa,  #85e0e0);
}

p{
  text-align: center;
  text-shadow:
}

#opening{
text-shadow: 1.5px 1.3px #b3d9ff;
font-size: 30px;
font-weight: bold;
}

h1{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 1.5px 1.3px #b3d9ff;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

h2{
  text-align: center;
}
span{
  font-weight: bold;
  font-style: italic;
}

.newspaper{
  background-image: radial-gradient(#99bbff, #b3ccff,  #80aaff);
}

section img{
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  width:375px;
  height: 250px;
}

#firstActivity{
  background-color: #99d6ff
}

.btn{
background-color: #ffffb3 ;
}

.btn:hover{
background-color: #e6ccff;
}

iframe {
  align: middle;
  margin-left: 3%;
  margin-top: 3%;
}
